/* 
Running Text (infinite Scroll) Left and Right
Author: STICKnoLOGIC
Link: https://sticknologic.is-a.dev
License: GNU GPL v3
*/
.snl-scroll-cntnr {
  width: 100%;
  overflow: hidden !important;
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.snl-scroll-5s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 5s linear infinite;
}
.snl-scroll , .snl-scroll-10s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
}
.snl-scroll-15s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 15s linear infinite;
}
.snl-scroll-20s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}
.snl-scroll-25s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
}
.snl-scroll-30s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}
.snl-scroll-35s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-left 35s linear infinite;
}

.snl-scroll-right-5s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 5s linear infinite;
}
.snl-scroll-right , .snl-scroll-right-10s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 10s linear infinite;
}
.snl-scroll-right-15s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 15s linear infinite;
}
.snl-scroll-right-20s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 20s linear infinite;
}
.snl-scroll-right-25s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 25s linear infinite;
}
.snl-scroll-right-30s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 30s linear infinite;
}
.snl-scroll-right-35s {
  display: flex !important;
  flex-wrap: nowrap !important;
  width: max-content !important;
  white-space: nowrap;
  animation: scroll-right 35s linear infinite;
}

@keyframes scroll-left {
   from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
   from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}